@model Appointment
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3 text-center d-flex align-items-center">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Payment Successful</h1>
            @await Component.InvokeAsync("BookAppointment", Model)
            <a class="btn btn-primary btn-lg" type="button" asp-action="Index" asp-controller="Home">Back</a>
        </div>
    </div>
</div>