@model Appointment

<div class="container">
    <div class="display-5">
        Your appointment with Doctor @Model.DoctorId on @Model.DateScheduled has been successfully booked.
    </div>
    <hr />    
</div>

