@model Appointment

<div class="container">
    <div class="display-1">
        Your appointment with Doctor @Model.DoctorId on @Model.DateScheduled has been successfully booked.
    </div>
    <hr />
    <a class="btn btn-dark" asp-action="Index" asp-controller="Home">Back</a>
</div>

<script>
    <link rel="stylesheet" href = "~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href = "~/css/site.css" asp - append - version="true" />
            <link href="~/css/bootstrap_lumen.min.css" rel = "stylesheet" />
                <link rel="stylesheet" href = "~/HospitalManagement.styles.css" asp - append - version="true" />
</script>
