<div class="container py-4">    
    <div class="p-5 mb-4 bg-light rounded-3 text-center d-flex align-items-center">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Welcome to Adams Hospital</h1>
            <p class="display-6 text-center">Empowering Health, Embracing Hope: Your Trusted Partner in Care at Adams!</p>
            <button class="btn btn-primary btn-lg" type="button">Get Started</button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Your Beacon of Wellness</h2>
                <p>Where Compassion Meets Excellence, Every Patient, Every Time</p>
                <button class="btn btn-outline-light" type="button">See Doctors</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2> Nurturing Health, Inspiring Hope</h2>
                <p>Guided by Compassion, Driven by Excellence, Every Step of Your Journey</p>
                <button class="btn btn-outline-secondary" type="button">See Locations</button>
            </div>
        </div>
    </div>    
</div>